body{
    margin: 0;
    padding: 0;
}

h1,h2,p {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}



header{
    background-color: black;
    height: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}

h1{
    color: white;
    padding-left: 60px;
}

/* 検索部分 */
.search{
    margin-bottom: 30px;
    margin-left: 60px;
}

.search label{
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
    vertical-align: middle;
}

.search input{
    height: 35px;
    margin-right: 10px;
}

.input_name{
    width: 230px;
}

.select_sex{
    height: 35px;
    margin-right: 10px; 
}

.select_sex:hover{
    cursor: pointer;
}


.search_submit{
    color: white;
    background-color: #444;
}

.search_submit:hover{
    cursor: pointer;
}

/* 表示部分 */
table{
    margin-left: 60px;
    border-collapse: collapse;
    width: 500px;
}

th,td{
    border: solid 1px black;
    margin: 0;
    height: 40px;
}

th{
    background-color: #444;
    color: white;
}

td{
    padding-left: 10px;
}

.search_none{
    margin-left: 70px;
}


/* ページネーション関連 */

a.page_number:visited {
    color: black;
    text-decoration: none;
}

.pagenation{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.page_feed{
    width: 50px;
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
    background: #b8b8b8;
    color: black;
}

.first_last_page{
    width: 50px;
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
    background: #dddddd;
    color: black;  
}

.page_number{
    width: 30px;
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
    background: #b8b8b8;
    color: black;  
}

.now_page_number{
    width: 30px;
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
    background: #dddddd;
    color: black;  
    font-weight: bold;
}

.from_to {
    text-align: center;
    margin-top: 20px;
}

/* 登録画面 */
.regi_class{
    width: 100%;
    height: 100px;
    margin: 0 0 25px 40px;
    display: flex;
    flex-flow: column;
}

.regi_indi{
    display: flex;
    justify-content:left;
}

.indi_mes{
    color: red;
    margin-left: 5px;
    padding-top: 4px;
}

.regi_label{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.regi_name{
    width: 200px;
    height: 40px;
}

.regi_sex{
    width: 60px;
    height: 40px;
}

.regi_birth{
    width: 200px;
    height: 40px;
}

.regi_submit{
    height: 40px;
    width: 50px;
    margin-left: 40px;
    color: white;
    background-color: #444;
}

.regi_submit:hover{
    cursor: pointer;
}

.indi{
    color: red;
}

/* 編集関連 */
.edit_button{
    background-color: #444;
    width: 50px;
    height: 27px;
}

.edit_link{
    color: white;
}